body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav * {
  display: inline-block;
  margin: 1em;
}

header * {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 20px;
}

/* li img {
  width: 15px;
  height: auto;
} */

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 10%; */
  /* height: 1000px; */
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.row-wrap {
  display: flex;
  flex-flow: row wrap;
}
