h1 {
  margin-left: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0em;
}

h3 {
  margin-left: 1em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav * {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 0.3em;
}

header * {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.singleProduct {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
}

.auth {
  margin-left: 25em;
  margin-right: 25em;
  margin-top: 4em;
}

.checkoutProduct {
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 1em;
  width: 50em;
}

.bold {
  text-emphasis: bold;
}

.pageView {
  padding-top: 1em;
  background-color: #e7cfbc;
}

.background {
  background-color: #e7cfbc;
}

.full {
  width: 100%;
}

.cart {
  text-align: right;
  margin-right: 1em;
}

.navbar {
  margin-left: 1em;
  margin-right: 1em;
  /* display: flex;
  flex-direction: row;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  padding-top: 0em; */
}

.navLeft {
  margin-right: 55em;
}
